html,
body {
    height: 100%;
    padding: 0%;
    margin: 0px;
}

#map {
  width: 73%;
  height: 94%;
  padding: 0%;
  margin: 0px;
  top:20px;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  height: 90%;
  position: absolute;
  right: 0px;
  top: 6%;
  // background-color: rgb(187, 177, 177);
  padding: 14px 16px;
  // opacity: 80%;
  
}

#img{
  width: 100%;
  height: 12%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0%;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#popup {
  background-color: white;
  position: absolute;
  bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width:max-content

}

// #popup {
//   // position: absolute;
//   background-color: white;
//   -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
//   filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
//   padding: 15px;
//   border-radius: 10px;
//   border: 1px solid #cccccc;
//   bottom: 12px;
//   left: -50px;
// //   width: auto
// }
#popup-content {
  margin-right: 10px;
 
}
#popup:after, #popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
#popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
#popup-closer:after {
  content: "✖";
}

// .ui-menu { width: 150px; }

#divBezirk {
  display: flex;
  flex-direction:column;
  margin: 10px;
  // flex-wrap: wrap;
  // width: 250px;
  // height: 150px;
  // background-color: rgb(252, 213, 237);
  // position: absolute;
  // left: 1080px;
  // top: 80px;
  // overflow-y:scroll;
  font-family: 'Montserrat';
  font-size: 13px;
  
  }
  #contentBezirk {
    flex-direction:row;
    font-family: 'Montserrat';
    font-size: 13px;
    
    }
  
  #divFilter{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  width:150px;
  height: 600px;
  margin: 10px;
  // position: absolute;
  // left: 920px;
  // top: 80px;
  font-family: 'Montserrat';
  font-size: 13px;
  }
  #divUhrzeit{
  width:150px;
  height: 150px;
  overflow:auto;
  font-size: 13px;
  font-family: 'Montserrat';
  
  }
  #divJahr{
  width:150px;
  height: 150px;
  overflow:auto;
  font-size: 13px;
  font-family: 'Montserrat';
  
  }
  #divDelikt{
  width:150px;
  height: 150px;
  overflow:auto;
  font-size: 13px;
  font-family: 'Montserrat';
  }

  #bttnBezirk{
    margin-top: 5px;
    font-family: 'Montserrat';
    font-size: 13px;
  }

  // #bttnAlle{
  //   // position: absolute;
  //   // left: 1080px;
  //   // top: 500px;
  //   font-family: 'Montserrat';
  //   font-size: 13px;
  // }