html,
body {
  height: 100%;
  padding: 0%;
  margin: 0px;
  font-family: "Helvetica", sans-serif;
}

#map {
  width: 73%;
  height: 94%;
  padding: 0%;
  margin: 0px;
  top:20px;
}

#heatmap {
  width: 10%;
  height: 10%;
  padding: 0%;
  margin: 0px;
  position:fixed;
  top: 100px;
  left: 850px;
  z-index: 50;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  height: 90%;
  position: absolute;
  right: 0px;
  top: 6%;
  padding: 14px 16px;
  }

#img{
  width: 48%;
  height: 25%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0%;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#popup {
  background-color: white;
  position: absolute;
  bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width:max-content;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
}

#popup-content {
  margin-right: 10px;
 
}
#popup:after, #popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
#popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
#popup-closer:after {
  content: "X";
}

#divBezirk {
  display: flex;
  flex-direction:column;
  margin: 15px;
  width: 42%;
  height:70%;
  font-size: 12px;
  }

  #contentBezirk {
  flex-direction:row;  
    }
  
  #divFilter{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  width: 42%;
  height: 70%;
  margin: 10px;
  font-size: 12px;
  }
  #divUhrzeit{
  width:95%;
  height: 100px;
  overflow:auto;
  }
  #divJahr{
  width:95%;
  height: 130px;
  overflow:auto;
  
  }
  #divDelikt{
  width:95%;
  height: 60px;
  overflow:auto;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  }

  #deliktListe{
  width:95%;  
  overflow:auto;
  word-break: break-word;
  display: block !important;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
    }

  #bttnBezirk{
  margin-top: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 600;

  }

  #bttnSelect{
  margin-top: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 600;

  }

  #bttnAlle{
  margin-top: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  height: 20px;
  font-weight: 600;
   }
